<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
		<add name="DESKTOP-1L1NPUF\SQLEXPRESS" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-1L1NPUF\SQLEXPRESS;user id=Erick;password=123456;initial catalog=Smart;Persist Security Info=true" />
	</connectionStrings>
</configuration>